.PasswordList {
  background-color: #89effb;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.PasswordListHeading {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.PreviousPasswordList {
  display: flex;
  justify-content: center;
}

.PreviousPasswordList ul {
  font-size: 1.1rem;
  list-style-type: disc;
  padding: 0;
}

.PreviousPasswordList li {
  margin-bottom: 5px;
}

.EmptyPreviousPasswordNote {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  ul {
    margin: 0;
  }
}